@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

label,
button,
input {
    cursor: pointer;
}

#settings>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing) * 1);
    cursor: pointer;
    flex-grow: 1;
}

#settings label {
    background: linear-gradient(to top, var(--color-rose-300) 50%, var(--color-rose-100));
    border-color: var(--color-rose-400);
    opacity: 0.6;
    user-select: none;
}

#settings label:has(input:checked) {
    background: linear-gradient(to top, var(--color-green-300) 50%, var(--color-green-100));
    opacity: 1;
    border-color: var(--color-green-400)
}

#layer-controls button,
#cube-controls button,
#solve-wrap button,
#settings>*,
#solve-steps>* {
    border-width: 4px;
    border-style: solid;
    border-radius: var(--radius-lg);
    padding: calc((var(--spacing) * 0.5));
    font-weight: bold;
}

#layer-controls button,
#cube-controls button {
    width: calc(var(--spacing) * 12);
}

#controls>div,
#layer-controls>div,
#cube-controls>div,
#solve-wrap,
#solve-wrap>div,
#solve-steps,
#solve-steps>* {
    display: flex;
    gap: calc(var(--spacing) * 1.5);
}

#control-f button {
    border-color: var(--color-orange-500);
    background: linear-gradient(to top, var(--color-orange-300) 50%, var(--color-orange-100));
}

#control-f button:hover {
    border-color: var(--color-orange-600);
}

#control-b button {
    border-color: var(--color-amber-500);
    background: linear-gradient(to top, var(--color-amber-300) 50%, var(--color-amber-100));
}

#control-b button:hover {
    border-color: var(--color-amber-600);
}

#control-l button {
    border-color: var(--color-green-500);
    background: linear-gradient(to top, var(--color-green-300) 50%, var(--color-green-100));
}

#control-l button:hover {
    border-color: var(--color-green-600);
}

#control-r button {
    border-color: var(--color-emerald-500);
    background: linear-gradient(to top, var(--color-emerald-300) 50%, var(--color-emerald-100));
}

#control-r button:hover {
    border-color: var(--color-emerald-600);
}

#control-u button {
    border-color: var(--color-pink-500);
    background: linear-gradient(to top, var(--color-pink-300) 50%, var(--color-pink-100));
}

#control-u button:hover {
    border-color: var(--color-pink-600);
}

#control-d button {
    border-color: var(--color-fuchsia-500);
    background: linear-gradient(to top, var(--color-fuchsia-300) 50%, var(--color-fuchsia-100));
}

#control-d button:hover {
    border-color: var(--color-fuchsia-600);
}

#control-m button {
    border-color: var(--color-sky-500);
    background: linear-gradient(to top, var(--color-sky-300) 50%, var(--color-sky-100));
}

#control-m button:hover {
    border-color: var(--color-sky-600);
}

#control-e button {
    border-color: var(--color-cyan-500);
    background: linear-gradient(to top, var(--color-cyan-300) 50%, var(--color-cyan-100));
}

#control-e button:hover {
    border-color: var(--color-cyan-600);
}

#control-s button {
    border-color: var(--color-teal-500);
    background: linear-gradient(to top, var(--color-teal-300) 50%, var(--color-teal-100));
}

#control-s button:hover {
    border-color: var(--color-teal-600);
}

#control-x button {
    border-color: var(--color-slate-600);
    background: linear-gradient(to top, var(--color-slate-400) 50%, var(--color-slate-200));
}

#control-x button:hover {
    border-color: var(--color-slate-700);
}

#control-y button {
    border-color: var(--color-olive-600);
    background: linear-gradient(to top, var(--color-olive-400) 50%, var(--color-olive-200));
}

#control-y button:hover {
    border-color: var(--color-olive-700);
}

#control-z button {
    border-color: var(--color-mauve-600);
    background: linear-gradient(to top, var(--color-mauve-400) 50%, var(--color-mauve-200));
}

#control-z button:hover {
    border-color: var(--color-mauve-700);
}

html.dark {
    #control-f button {
        border-color: var(--color-orange-950);
        background: linear-gradient(to top, var(--color-amber-800) 50%, var(--color-orange-600));
        color: white
    }

    #control-f button:hover {
        border-color: var(--color-orange-900);
    }

    #control-b button {
        border-color: var(--color-amber-950);
        background: linear-gradient(to top, var(--color-amber-800) 50%, var(--color-amber-600));
        color: white
    }

    #control-b button:hover {
        border-color: var(--color-orange-900);
    }

    #control-l button {
        border-color: var(--color-green-950);
        background: linear-gradient(to top, var(--color-green-800) 50%, var(--color-green-600));
        color: white
    }

    #control-l button:hover {
        border-color: var(--color-green-900);
    }

    #control-r button {
        border-color: var(--color-emerald-950);
        background: linear-gradient(to top, var(--color-emerald-800) 50%, var(--color-emerald-600));
        color: white
    }

    #control-r button:hover {
        border-color: var(--color-emerald-900);
    }

    #control-u button {
        border-color: var(--color-purple-950);
        background: linear-gradient(to top, var(--color-purple-800) 50%, var(--color-purple-600));
        color: white
    }

    #control-u button:hover {
        border-color: var(--color-purple-900);
    }

    #control-d button {
        border-color: var(--color-fuchsia-950);
        background: linear-gradient(to top, var(--color-fuchsia-800) 50%, var(--color-fuchsia-600));
        color: white
    }

    #control-d button:hover {
        border-color: var(--color-fuchsia-900);
    }

    #control-m button {
        border-color: var(--color-sky-950);
        background: linear-gradient(to top, var(--color-sky-800) 50%, var(--color-sky-600));
        color: white
    }

    #control-m button:hover {
        border-color: var(--color-sky-900);
    }

    #control-e button {
        border-color: var(--color-cyan-950);
        background: linear-gradient(to top, var(--color-cyan-800) 50%, var(--color-cyan-600));
        color: white
    }

    #control-e button:hover {
        border-color: var(--color-cyan-900);
    }

    #control-s button {
        border-color: var(--color-teal-950);
        background: linear-gradient(to top, var(--color-teal-800) 50%, var(--color-teal-600));
        color: white
    }

    #control-s button:hover {
        border-color: var(--color-teal-900);
    }

    #control-x button {
        border-color: var(--color-slate-950);
        background: linear-gradient(to top, var(--color-slate-700) 50%, var(--color-slate-500));
        color: white
    }

    #control-x button:hover {
        border-color: var(--color-slate-800);
    }

    #control-y button {
        border-color: var(--color-olive-950);
        background: linear-gradient(to top, var(--color-olive-700) 50%, var(--color-olive-500));
        color: white
    }

    #control-y button:hover {
        border-color: var(--color-olive-800);
    }

    #control-z button {
        border-color: var(--color-mauve-950);
        background: linear-gradient(to top, var(--color-mauve-700) 50%, var(--color-mauve-500));
        color: white
    }

    #control-z button:hover {
        border-color: var(--color-mauve-800);
    }

    #settings label {
        background: linear-gradient(to top, var(--color-rose-900) 50%, var(--color-rose-700));
        border-color: var(--color-rose-950);
        opacity: 0.6;
        user-select: none;
        color: white
    }

    #settings label:has(input:checked) {
        background: linear-gradient(to top, var(--color-green-900) 50%, var(--color-green-700));
        opacity: 1;
        border-color: var(--color-green-950)
    }

    #solve-steps>* {
        background: linear-gradient(to top, var(--color-violet-800) 50%, var(--color-violet-600));
        border-color: var(--color-violet-950);
        color: white
    }

    #solve-steps>button:hover {
        border-color: var(--color-violet-900);
    }
}

#solve-steps>* {
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, var(--color-purple-300) 50%, var(--color-purple-100));
    border-color: var(--color-purple-500);
}

#solve-steps>button:hover {
    border-color: var(--color-purple-600);
}

#info:checked+div {
    display: block
}

#canvas-loader>img {
    animation: rotation 1.5s ease-in-out infinite;
}

.loader {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
    border: 5px solid var(--color-sky-600);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.solve-loader-cubie {
    border-radius: 0.25rem;
    border: 1px solid black
}